body{
	background-color: #333333;
	margin:0;
	padding:0;
	height: 100vh;
	width:100vw;
	font-family: Helvetica, sans-serif;
}

h1{
	font-weight: bold;
	font-size: 8vw;
	text-shadow:1px 2px 3px black;
}

h2{
	margin: 30px 10px 30px 10px;
	text-align: center;
	color: #F6CB11;
	font-size: 24px;
}

h3{
	color:#F6CB11;
	line-height: 1.1;
	font-size:14px;
}

p{
	color:white;
	line-height: 1.5;
	font-size:16px;
}

.logo{
	display:block;
	margin:0 auto;
	width:200px;
}

.btn {
	bottom:0;
	padding: 10px 20px;
	background-color: #F6CB11;
	color: #333333;
	font-weight: bold;
	font-size: 26px;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover:enabled{
	background-color: #222222;
	color:#F6CB11;
	transition: 0.5s ease;
}

.btn:disabled{
	opacity:0.5;
}

#btn_next1 , #btn_next2 , #btn_next3 , #btn_next4 , #btn_finish {
	position: absolute;
	bottom:0;
	right:0;
	margin:20px;
}

#btn_prev1 , #btn_prev2 , #btn_prev3{
	position: absolute;
	bottom:0;
	left:0;
	margin:20px;
	font-weight: normal;
	background-color: #222222;
	color: #F6CB11;
}

#btn_prev1:hover , #btn_prev2:hover , #btn_prev3:hover{
	background-color: #F6CB11;
	color:#222222;
	transition: 0.5s ease;
}

#btn_selectvehicle {
	font-weight: normal;
	font-size:20px;
	float:right;
}

.inputdate{
	padding: 16px 20px;
    border: none;
    border-radius: 4px;
}

/************************* CONTAINER A - TITLE PAGE *************************/

.conA{
	min-height:450px; 
	align-items: center;
	justify-content:center;
	background-position: center;
	background-size:cover;
}

.conA .container {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
	color: #F6CB11;
	text-align: center;
	width:1200px;
	margin-left: auto;
	margin-right:auto;
}

.conA p{
	margin:50px;
}
/*start button css */

.conA #btn_start{
	padding: 10px 20px;
	background-color: #F6CB11;
	color: #333333;
	font-weight: bold;
	font-size: 26px;
	border-style: none;
	border-radius: 5px;
	cursor: pointer;

}

.conA #btn_start span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

.conA #btn_start span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s ease;
}

.conA #btn_start:hover span {
  padding-right: 25px;
}

.conA #btn_start:hover span:after {
  opacity: 1;
  right: 0;
}

/*background slider css */

.conA .backgroundslide {
	display:none;
}

.conA .slick-initialized {
	display: block;
}

.conA .slideshow .slick-slide {
  opacity:.5;
  width:100vw;
  height:100vh;
}

/************************* CONTAINER B - MAIN PAGE *************************/

/*map css*/

#map {
    width: 100vw;
    height: 100vh;
    position:absolute;
}

.sidebar {
  position: absolute;
  border-radius: 3px;
  width: 25%;
  height: 95%;
  z-index:3;
  background-color: #444444;
  margin: 10px;
  box-shadow: 1px 2px 3px #333333;
}

.sidebar .sideA , .sideB ,.sideC ,.sideD {
	margin:20px;

}

.selectvehicle{
	width:100%;
}

#ctn_load{
	display:none;
	position:absolute;
	height:100%;
	width:100%;
	z-index:3;
	background-color: black;
	opacity: 0.6;
}

#ctn_loadgif{
	position:absolute;
	top:40%;
	left:45%;
	z-index:3;
	display:none;
	text-align: center;
}

#ctn_load img{
	display:block;
	margin:0;
	float:right;
}

.sideA {
	color:white;
	line-height: 1.5;
}


.sideB input {
	width:80%;
}


/*PASSENGER NUMBER INPUT BUTTON CSS*/

.sideC .container {
	align-items:center;
}

.sideC #ctn_passenger{
	display:flex;
	margin:20px;

}

.sideC .number-input {	
  border: 2px solid white;
  display: inline-flex;
  float:right;
}

.sideC .number-input,
.number-input * {
  box-sizing: border-box;
  	margin:10px;
}

.sideC .number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  float:right;
}

.sideC .number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: white;
  transform: translate(-50%, -50%);
}
.sideC .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.sideC .number-input input[type=number] {
  max-width: 5rem;
  border: solid 3px white;
  border-width: 0 2px;
  font-size: 2rem;
  color:white;
	font-size:20px;
	background-color: #222222;
  font-weight: bold;
  text-align: center;
  margin:0;
}

input[type=text],input[type=date],input[type=time], select{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:14px;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


.sideD img{
	display:block;
	margin:0 auto;
	width:250px;
}

/*MODAL*/

#modal_icon{
	width:30px;
}


#modal_images{
	display: block;
	 margin:auto;
	 cursor: pointer;
}

.modal {
	max-width:1000px !important;
}

.modal p{
	color:#333333;
}

div.jquery-modal.blocker.current{
	z-index:3 !important;
}

#ctn_result{
	display:inline-block;
}

.sideE {
	padding:20px;
	text-align: center;
}

.sideE .container{
	border-radius: 3px;
	border: solid 2px #555555;
	margin:10px;
	padding:10px;
}


.sideE img{
	width:200px;
}

.sideE p{
	margin:5px;
}

.sideE h2{
	margin:0;
}

.sideE .referencetext{
	text-align: left;
}
/******************************** SIDE E - RESULTS *********************************/


/*REFERENCE NUMBER CSS*/
.sideE .ref-container{
	display:flex;
	width:35%;
}

.sideE .ref-container h2{
	flex:1;
	margin:0;
}

